/* 
1. ---- Typograpgy system ----
font size (px)
    10 / 12 / 14 / 16 / 18 / 20 
    / 24 / 30 / 36 / 44 / 52 
    / 62 / 74 / 86 / 98

Font weights 
default: 400
medium: 500
semibold:600
bold:700

Line height
defautl: 1
medium: 1.2
small:1.05
paragraph 1.6

letter spacing 
-0.5px
0.75px

2. ---- Colors ----

- Primary : #e67e22
- Tint:
 #fdf2e9
 #fde3ce
- Shades:
#cf711f
#8a4c14
#45260a
- Accent:
- Greys: 
#555

3. ---- Shadows ----

4. ---- Border Radius ----
default: 9px

7. ---- Whitespace ----
Spacing(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 /
 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**************************/
/* Header section */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 2.4rem;
}

/**************************/
/* Navigation seection */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;

  font-size: 1.8rem;
  transition: color 0.3s, background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
  color: #fdf2e9;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}
/**************************/
/* Hero seection */
/**************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
  min-width: 100px;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.4rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-description {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-description span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/* Featured in seection */
/**************************/

.section-featured {
  padding: 4.8rem 0 1.8rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 60%;
}

/**************************/
/* How it works seection */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fde3ce;
  z-index: 0;
}

.step-img {
  width: 35%;
  z-index: 1;
}

/**************************/
/* How it works seection */
/**************************/

.section-meal {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.meal:hover {
  transform: translate(0, -2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.05);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.75rem;
}

.tag {
  display: inline-block;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag-vegetarian {
  background-color: #69db7c;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* Testimonial seection */
/**************************/

.section-testimonials {
  /* padding: 9.6rem 0; */
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.4rem;
  color: #525252;
}

.testimonial-container {
  padding: 9.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  /* overflow: hidden; */
  position: relative;
}

.gallery-item img {
  display: block;
  width: 100%;
  filter: brightness(75%);
  transition: filter 0.3s;
}

.gallery-item img:hover {
  filter: brightness(100%);
}

/**************************/
/* Pricing seection */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  max-width: 75%;
  border-radius: 12px;
}

.pricing-plan.starter {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  justify-self: end;
}

.pricing-plan.complete {
  background-color: #fdf2e9;
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan.complete::after {
  content: "Best Value";
  position: absolute;
  padding: 0.8rem 8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  background-color: #ffd43b;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  color: #525252;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3.4rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.plan-text {
  font-size: 1.8rem;
  line-height: 1.6;
}
.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
}

/**************************/
/* Feature classes*/
/**************************/

.feature-icon {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  color: #e67e22;
  background-color: #fff2e7;
  margin-bottom: 3.2rem;
}

.feature h4 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.feature p {
  font-size: 1.8rem;
  line-height: 1.6;
}

/**************************/
/* cta seection */
/**************************/

.section-cta {
  padding: 8.4rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* height: 50rem; */
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984c, #e67e22);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 11px;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* footer seection */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #767676;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.address-col a,
.footer-nav a,
.logo-col a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer-nav a:hover {
  color: #555;
}
